In [3]:
import pandas as pd 
import numpy as np
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
df['']

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
# Question 3: Perform a groupby operating on'Element'; What is the total number of the sum of processing in 2017?

grouped_element = df.groupby('Element').sum().loc[['Processing'],['Y2017']]
grouped_element

               Y2017
Element
Processing  292836.0

In [9]:
#Question 4 : Select columns 'Y2017' and 'Area', perform a groupby on 'Area'. Which of these Areas had the highest sum in 2017?
group_by_Area= df.groupby('Area')['Y2017'].sum()
highest_area = group_by_Area.idxmax()
print(f'Areas which had the highest sum in 2017: {highest_area}')

Areas which had the highest sum in 2017: Nigeria

In [17]:
# Question 6 :  Select columns 'Y2017' and 'Area', perform a groupby on 'Area' . Which of these Areas had the 7th lowest sum in 2017?
group_by_Area= df.groupby('Area')['Y2017'].sum()
lowest_area = group_by_Area.sort_values(ascending=True).index[6]
print(f'The area which had the 7th lowest sum in 2017 : {lowest_area}')

The area which had the lowest sum in 2017 : Guinea-Bissau

In [59]:
#Question 7 : What is the total number and the percentage of missing data in 2014 to 3 decimal places?
number_of_missing_data= df['Y2014'].isnull().sum()
print(f'The total number of missing data : {number_of_missing_data}')

# percentage of missing data
total_numbers_of_row = len(df)
percentage_of_missing_data = (number_of_missing_data/total_numbers_of_row) * 100
print(f'The percentage of missing data : {round(percentage_of_missing_data, 3)}')

The total number of missing data : 1589
The percentage of missing data : 2.607

In [61]:
#Question 11 : Which year had the least correlation with 'Element Code
least_corr = df.corr()['Element Code'].sort_values(ascending= False)
least_corr

ValueError: could not convert string to float: 'Algeria'

In [6]:
# Question 12 What is the totoal number of unique countries in the dataset?
number_of_unique_countries= df['Area'].nunique()
print(f'Number of unique countries in the data set: {number_of_unique_countries}')

Number of unique countries in the data set: 49

In [24]:
#What is the total sum of wine produced in 2015 & 2018?
Sum_of_wine_in_2015 = df.groupby('Item').sum().loc[['Wine'],['Y2015','Y2018']]
print(f"The the total sum of wine produced in 2015 & 2018 : {Sum_of_wine_in_2015}")

The the total sum of wine produced in 2015 & 2018 :         Y2015    Y2018
Item
Wine  4251.81  4039.32

In [131]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 deciamal places?
mean_value = df['Y2017'].mean()
std_value = df['Y2017'].std()
print(f'The mean and standard deviation across the dataset is  {round(mean_value, 2)} and {round(std_value,2)} respectively')

The mean and standard deviation across the dataset is  140.92 and 1671.86 respectively

In [25]:
#What is the total protein supply  quantity in Madagascar in 2015?

protein_supply = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]
sum_of_protein_supply_in_2015  = protein_supply.agg({'Y2015': 'sum'})
print(f' The total protein supply  quantity in Madagascar {sum_of_protein_supply_in_2015}:')

 The total protein supply  quantity in Madagascar Y2015    173.05
dtype: float64:

In [31]:
# Perform a grouby operation on "Element" What year has the highest sum of stock variation?
df.df.groupby('Element')['Stock Variation'].sum()

0        41389.00
1            0.00
2         3341.00
3           92.82
4           80.19
           ...
60938       19.00
60939        1.33
60940        1.00
60941        0.04
60942        0.02
Name: Y2017, Length: 60943, dtype: float64